<% layout("/layouts/boilerplate") %>

<div class="err-div mt-5">
    <div class="error-illustration"></div>
    <p class="err-p"><%= message %></p>
    <a href="/listings" class="err-btn">Go Home</a>
</div>